<div class="container pt-3 bg-light align-self-center">
    <div class="row">
        <div class="col">
            {{!-- https://www.flaticon.com/free-animated-icons/message --}}
            <img class="img-fluid rounded w-auto" src="../images/chat.gif" >
        </div>
    <div class="col text-center">
        <h1 class="title">Welcome to {{ title}}!</h1>
        <p>COMP 2068: javaScripts Framework - Team RTC</p>
        <p>A real time chat application built using socket.io</p>
        <a class="btn btn-outline-primary btn-lg" href="/chat" role="button">Enter Chat Room</a>
    </div>
    </div>
</div>