    <h1 class="title">{{title}}</h1>
    <div class="main">
        <div class="name">
            <input type="text" id="name-input" class="name-input" value="anonymous">
        </div>
        <ul class="message-container" id="message-container">
        </ul>

        <form class="message-form" id="message-form">
            <input type="text" name="message" id="message-input" class="message-input">
            <button type="submit" class="send-button">Send</button>
        </form>
    </div>
</body>